:root {
  --animat: 1s cubic-bezier(0.6, 0, 0.4, 1);
}

* {
  transition: var(--animat);
}

.torender {
  opacity: 0;
}


@keyframes cube-rotate {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

#title.torender {
  animation: cube-rotate 6s cubic-bezier(0.6, 0, 0.4, 1) !important;
}