:root {
  --animat: cubic-bezier(0.1, 0.1, 0, 1);
}

.torender {
  opacity: 0 !important;
}

/* --- NAME --- */

#name:not(.torender) {
  animation: .8s name cubic-bezier(0.3, 0, 0, 1);
}

@keyframes name {
  0% {
    transform: rotateX(-45deg) translateY(48px);
    opacity: 0;
    filter: blur(4px);
  }
}

#name>p:not(.torender) {
  animation: .2s name-p cubic-bezier(0.3, 0, 0, 1);
}

@keyframes name-p {
  0% { 
    margin-left: -24px; 
  }
}


/* --- HEADLINE --- */

#headline>span:not(.torender) {
  animation: .8s cube-rotate var(--animat);
}


@keyframes cube-rotate {
  0% {
    transform: rotateX(-45deg) translateY(64px);
    opacity: 0;
    filter: blur(4px);
  }
}

#mail:not(.torender) {
  animation: .8s cube-rotate var(--animat);
}

#profiles>a:not(.torender) {
  animation: .8s cube-rotate var(--animat);
}

#timeline>*:not(.torender) {
  animation: 1s timeline cubic-bezier(0, .25, 0, 1);
}

@keyframes timeline {
  0% {
    transform: translateX(192px);
    filter: blur(8px);
  }
}

#signature {
  animation: .8s cube-rotate .8s var(--animat);
}
