:root {
  --animat: cubic-bezier(0.1, 0.1, 0, 1);
}

.torender {
  opacity: 0 !important;
}

:not(.torender) {
  animation: .6s cube-rotate var(--animat);
}


@keyframes cube-rotate {
  0% {
    transform: rotateX(-40deg) translateY(36px);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
