:root {
  --background: #FFF;
  --text: #000;
  --accent: #6549F2;
  --secondary: #999;
  --element: #F2F2F2;
  --border: #EEE;

  --background-position: left 50% top calc(50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: #FFF;
    --accent: #6549F2;
    --secondary: #666;
    --element: #111;
    --border: #1A1A1A;
  }
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-content: center;
  background: var(--background);
  letter-spacing: -0.04em;
  font-family: 'text';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0;
  user-select: none;
}

img {
  user-select: none;
}

#container {
  perspective: 512px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  gap: 32px;
}

#name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: center;
  overflow: hidden;
  align-self: center;
  text-align: end;
  margin-bottom: -16px;
  transform: translateZ(24px);
}

#name>p {
  color: var(--secondary);
  position: relative;
  font-family: 'display';
}

#profile-picture, #profile-picture img {
  border-radius: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: var(--background);
}


#profile-picture img {
  width: 100%;
  height: 100%;
}

#headline {
  font-family: 'inter';
  white-space: nowrap;
  perspective: 512px;
}

#headline span {
  display: inline-block;
}

#profiles {
  display: flex;
  justify-content: center;
  height: 48px;
}

#profiles>a {
  border-radius: 24px;
  background: var(--background);
  box-shadow: 0 0 0 1px var(--border), 0 0 0 12px var(--background);
}

#profiles>a>img {
  height: 48px;
  border-radius: 24px;
}

#profiles>a:hover {
  background: #F7F7F7;
  transition: background .3s;
}

@media (prefers-color-scheme: dark) {
  #profiles>a>img, #footer>img, #mail>img{
    filter: invert(100%);
  }

  #profiles>a:hover {
    background: #0F0F0F;
  }
}

#profiles>a:hover>path {
  fill: var(--accent);
}

#signature {
  position: absolute;
  bottom: 0;
  opacity: 1;
  height: 56px;
  padding-bottom: 2.5vh;
  filter: invert(75%) blur(0px);
  transition: all 2s cubic-bezier(.75, 0, 0, 1), opacity .8s cubic-bezier(0, 0, 1, .25) !important;
}

@media (prefers-color-scheme: dark) {
  #signature {
    filter: invert(25%) blur(0px);
  }

  #signature.rendered {
    filter: invert(25%) blur(32px);
  }
}

#signature.rendered {
  padding: 0;
  opacity: 0;
  filter: invert(75%) blur(32px);
}

#footer {
  display: flex;
  align-self: center;
  justify-content: center;
  color: var(--secondary);
  margin-bottom: 24px;
  opacity: 0;
  margin-top: 32px;
  transform: translateY(-3vh);
  filter: blur(16px);
}

#footer.rendered {
  filter: blur(0px);
  transition-property: all, opacity;
  transition-duration: 2s, 1s;
  transition-delay: 0s, 1s;
  transition-timing-function: cubic-bezier(.75, 0, 0, 1), cubic-bezier(0, 1, 1, 1);
  opacity: .6;
  transform: translateY(0px);
}

#footer>img {
  display: inline;
  width: 16px;
  height: 16px;
  z-index: 1;
}

#footer>p {
  font-size: 12px;
  line-height: 16px;
  text-shadow: none;
}

#top~#footer {
  box-shadow: 0 0 2px 4px var(--background);
  background: var(--background);
}

::selection {
  color: #FFF;
  background: var(--accent);
  text-shadow: none;
}

#mail {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--element);
  padding: 4px 12px;
  border-radius: 16px;
  width: fit-content;
  align-self: center;
}

#mail img {
  margin: -10px;
  margin-right: -16px;
  width: 36px;
  height: 36px;
}

#mail p {
  font-size: 14px;
  color: var(--secondary);
  text-shadow: none;
  display: flex;
  gap: 4px;
}

#mail span {
  color: var(--text);
}